/*index*/
.bg-primary {
	background-color: #800000!important;
}

.btn-outline-primary {
	color: #800000!important;
	border-color: #800000!important;
	background-color: white;
}

.btn-outline-primary:hover {
	background-color: #FECB00;
}

#courses-list {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.courses-list1, .courses-list2 {
	color: black;
	text-decoration: none!important;
}

.courses-list1:hover {
	color: #800000!important;
}

.courses-list2:hover {
	color: #800000!important;
}

#courses-list h3 {
	margin-bottom: 15px;
	margin-top: 15px;
}

#courses-list p {
	margin: -1px 0;
}

/*login page*/
#loginButton {
	background-color: #800000!important;
	border-color: #800000!important;
}

#regiterRedirect {
	color: #000000!important;
}

/*register page*/
#registerButton {
	background-color: #800000!important;
	border-color: #800000!important;
}

/*edit a course page*/
#editSubmit {
	background-color: #800000!important;
	border-color: #800000!important;
}

/*add course page*/
#createSubmit {
	background-color: #800000!important;
	border-color: #800000!important;
}

/*edit profile page*/
#updateSubmit {
	background-color: #800000!important;
	border-color: #800000!important;
	color: white;
}